table(bgcolor=white width=max_w align="center" class="deviceWidth")&attributes(tableAtt)
  tr
    td(align="left" valign="top" width="280" class="mobile-table" bgcolor=white)
      table(class="mobile-table")&attributes(tableAtt)
        tr
          td(class="mobile-table")
            img(src=img_path+"image1.jpg" width="280" height="140" class="mobile-table")
    +hSpacer(32)
    td(align="left" valign="top" width="288" class="mobile-hide")
      table&attributes(tableAtt)
        tr
          td(class="mainTitle").
            !{info.title}
        +vSpacer(22)
        tr
          td(class="LoremText").
            !{info.description}
        +vSpacer(10)
        tr
          td
            +button({ text:'Learn More', color:'black', width:120, radius:4, height:32, bgcolor:'#eacb3c'})
  //- +vSpacer(10)
  tr(class="hideDesktop")
    td(align="left" valign="top" width="280" class="mobile-table")
      table(class="mobile-table mobile-center")&attributes(tableAtt)
        +vSpacer(10)
        tr
          td(class="mainTitle").
            !{info.title}
        +vSpacer(22)
        tr
          td(class="LoremText").
            !{info.description}
        +vSpacer(10)
        tr
          td
            +button({ text:'Learn More', color:'black', width:120, radius:4, height:32, bgcolor:'#eacb3c'})
