table(width=max_w align="center" class="deviceWidth")&attributes(tableAtt)
  tr
    td(align="left" class="f_normal" style=`font-family: ${fallback}; font-size: 14px; line-height: 24px;` bgcolor="#FFF")
      p(class="f_normal brown" style="font-size: 14px; line-height: 20px; padding-left: 18px").
         Can't see this Email? View it in your #[a(href="#" target="_blank" class="yellow") Browser].
  tr
    td(align="center" valign="top" style="font-size:0; height:50px;")
      table(align="left" width="141px" height="50px" class="mobile-table"  bgcolor="#282828" )&attributes(tableAtt)
        tr
          td(align="left" valign="top" style=`font-family: ${fallback}; font-size:30px; line-height: 48px;` class="mobile-center f_bold")
            img(src=img_path+"title.png" width="81" height="34" style="display: block; border: 0px; padding-left: 27px; padding-top:10px;")
      table(align="right" width="459px" height="50px" class="mobile-hide")&attributes(tableAtt)
        tr
          td(class="f_normal" align="right" valign="top" style=`font-family: ${fallback}; font-size: 48px; line-height: 48px;` bgcolor="#eacb3c")
            table(align="right")&attributes(tableAtt)
              tr
                td(class="f_normal" style=`font-family: ${fallback}; font-size: 18px; `)
                  p(class="white f_normal" style="font-size: 13px;  margin: 0; padding-right:65px;")
                    a(href="#" target="_blank" class="brown" style="text-decoration: none;").
                      #{header.button} &nbsp;
                    a(href="#" target="_blank" class="brown" style="text-decoration: none; padding-left:15px;").
                      #{header.button2} &nbsp;
                    a(href="#" target="_blank" class="brown" style="text-decoration: none; padding-left:15px;").
                      #{header.button3} &nbsp;    
                  


